@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply font-sans bg-gray-900 text-gray-50;
}

body {
	@apply relative;
}

h1 {
	@apply text-5xl font-bold leading-tight;
}

h2 {
	@apply text-2xl font-bold;
}

a, .link{
	@apply text-blue-200 hover:underline bg-transparent hover:bg-transparent p-0;
}

button, button[type="submit"] {
	@apply bg-blue-200 rounded text-gray-900 hover:bg-blue-300 px-4 py-2;
}

button[type="submit"].destructive {
	@apply bg-red-400 hover:bg-red-500;
}

p {
	@apply mb-4;
}

input[type="text"] {
	@apply rounded bg-gray-50 text-gray-900;
}

.blog-post h2 {
	@apply mt-8 mb-8;
}

.blog-post iframe {
	@apply mb-8;
}

.blog-post blockquote {
	@apply p-4 mt-8 mb-8 bg-gray-800 text-gray-200 border-l-2 border-gray-400 rounded rounded-l-none;
}

.blog-post blockquote p {
	@apply mb-0;
}

.blog-post img {
	@apply mb-8;
}

.blog-post ul {
	@apply list-disc list-inside mb-4;
}

.blog-post ol {
	@apply list-decimal;
}

.blog-post hr {
	@apply border-gray-400 mt-8 mb-8 mx-[10%];
}

.blog-post pre code {
	@apply flex w-full bg-black rounded whitespace-pre-wrap text-sm p-4 mt-8 mb-8;
}

.blog-post code {
	@apply bg-black text-sm px-1 py-1 rounded;
}